{% extends "admin/base_site.html" %}
    {% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/template.css"/>
{#	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>#}
{#    <style type="text/css">#}
{#        button{margin-left: 10px;}#}
{#    </style>#}
{#    <script type="text/javascript">#}
{#    $(document).ready(function(){#}
{##}
{#    });#}
{#    </script>#}
    {% endblock %}

{% block content %}
    {% if error %}
        <div style="color:#ff0000;padding:10px 20px;">{{ error }}</div>
    {% else %}
        <div style="border:dotted 1px blue;padding:10px 20px;">
            {{ result | linebreaksbr }}
        </div>
    {% endif %}
{% endblock %}